.MemberList {
  list-style: none inside none;
  overflow: hidden;
  margin: 0 -8px !important;
  padding: 0; }
  .MemberList-item {
    float: left;
    width: 100%;
    padding: 8px; }
    @media (min-width: 768px) {
      .MemberList-item {
        width: 50%; } }

.Member {
  display: block;
  padding: 20px 20px 20px 120px;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none !important;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  *zoom: 1; }
  .Member:after {
    content: "";
    display: table;
    clear: both; }
  .Member-header {
    position: relative;
    padding-top: 10px; }
  .Member-avatar {
    position: absolute;
    top: 0;
    left: -100px;
    padding: 3px;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .Member-name {
    margin: 0;
    font-size: 24px !important; }
  .Member-job {
    margin: 10px 0 0 !important;
    line-height: 1 !important; }
  .Member-sponsor {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 30px;
    padding: 0 .8em;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: 1px solid #0871ab;
    border-radius: 4px; }
    .Member-sponsor:before {
      content: " ";
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 0;
      height: 100%; }
    .Member-sponsor .fa, .Member-sponsor span {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
    .Member-sponsor .fa {
      margin-right: .5em; }
    .Member-sponsor:hover {
      color: #fff;
      background-color: #0871ab; }
  .Member-body {
    padding-top: 15px;
    font-weight: normal; }
  .Member-projects .fa,
  .Member-projects ul {
    vertical-align: middle; }
  .Member-projects ul {
    display: inline-block;
    list-style: none inside none;
    margin: 0 0 0 .8em;
    padding: 0; }
  @media (min-width: 768px) {
    .Member {
      min-height: 0; } }
