.DS_Store

.vscode/
node_modules/

/src/source/_data/knosys/
/src/source/knosys/
/src/source/_posts/*
!/src/source/_posts/hello-world.md
/src/themes/*/layout/*
!/src/themes/*/layout/_nop/
/src/themes/*/scripts/
/src/themes/*/source/
!/src/themes/*/_config.yml
/src/public/
/src/.deploy*/
/src/_multiconfig.yml
/src/Thumbs.db
/src/db.json
/src/package.json
